{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Car Rental{% endblock %}

{% block content %}
<!-- breadcrumb_section - start -->
<section class="breadcrumb_section text-center clearfix">
    <div class="page_title_area has_overlay d-flex align-items-center clearfix" data-bg-image="{% static 'images/breadcrumb/car_background.jpg' %}">
        <div class="overlay"></div>
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h1 class="page_title text-white mb-0">Login</h1>
        </div>
    </div>
    <div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2">
        <div class="container">
            <ul class="ul_li clearfix">
                <li><a href="/">Home</a></li>
                <li>Login</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumb_section - end -->

<!-- login_section - start -->
<section class="register_section sec_ptb_100 clearfix">
    <div class="container">
        <div class="register_card mb_60" data-bg-color="#F2F2F2" data-aos="fade-up" data-aos-delay="100">
            <div class="row align-items-center">
                <!-- Image Section -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="reg_image" data-aos="fade-up" data-aos-delay="300">
                        <img src="{% static 'images/about/img_03.jpg' %}" alt="image_not_found">
                    </div>
                </div>
                <!-- Login Form Section -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="reg_form" data-aos="fade-up" data-aos-delay="500">
                        <h3 class="form_title">LogIn:</h3>
                        <p>Savings of up to 15% with our car rental solutions, global coverage and a dedicated customer team.</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form_item">
                                <input type="text" name="username" placeholder="Your Username*" required>
                            </div>
                            <div class="form_item">
                                <input type="password" name="password" placeholder="Password*" required>
                            </div>
                            <button type="submit" class="custom_btn bg_default_red text-uppercase">
                                Login
                                <img src="{% static 'images/icons/icon_01.png' %}" alt="icon_not_found">
                            </button>
                        </form>
                        <span class="reset_pass mt-3"><a href="#!">Forgot your password?</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login_section - end -->
{% endblock %}
